@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.sidebar-icons {
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.nav-link.active {
    background-color: #efcfd4 !important; 
    color: white !important; 
}

.content-box{
    background-color: #f1f1f1 !important;
}

.new-content-section {
    height: 300px; 
    text-align: center;
}








.rotatingText { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    position: relative; /* Ensure correct positioning of child elements */
}
  
.rotatingText-content { 
    position: relative;
    width: 100%;
}
  
.rotatingText-description { 
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin: 0;
}

@media (min-width: 768px) { 
    .rotatingText-description {
        font-size: 18px;
    }
}
  
.rotatingText-adjective { 
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-align: center;
    transition: opacity 0.5s ease;
}

@media (min-width: 768px) { 
    .rotatingText-adjective {
        font-size: 70px;
    }
}

.rotatingText-adjective:nth-of-type(1) { 
    animation: rotate-text-up 1.5s 0s infinite;
}

.rotatingText-adjective:nth-of-type(2) { 
    animation: rotate-text-up 1.5s 1.5s infinite;
}

.rotatingText-adjective:nth-of-type(3) { 
    animation: fade-text-in 1.5s 3s infinite;
}
  
@keyframes rotate-text-up { 
    0% {
        transform: translate(-50%, calc(50% + 80px));
        opacity: 0;
    }
    
    20%, 80% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    
    100% {
        transform: translate(-50%, calc(50% - 40px));
        opacity: 0;
    }
}
  
@keyframes fade-text-in { 
    0% {
        opacity: 0;
        transform: translate(-50%, calc(50% + 80px));
    }
    
    50%, 100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

