@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.sidebar-icons {
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.nav-link.active {
    background-color: #efcfd4 !important; 
    color: white !important; 
}

.content-box{
    background-color: #f1f1f1 !important;
}

.new-content-section {
    height: 300px; 
    text-align: center;
}










.rotatingText { 
    margin-top: -12.5%; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
  
.rotatingText-content { 
    position: relative;
    width: 100%;
}
  
.rotatingText-description { 
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin: 0;
}

@media (min-width: 768px) { 
    .rotatingText-description {
      font-size: 18px;
    }
}
  
.rotatingText-adjective { 
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    left: 0;
    margin-bottom: 0;
    margin-top: 30px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: opacity 0.5s ease;
}

@media (min-width: 768px) { 
    .rotatingText-adjective {
        font-size: 70px;
    }
}

.rotatingText-adjective:nth-of-type(1) { 
    animation: rotate-text-up 1.5s 0.75s forwards; 
}

.rotatingText-adjective:nth-of-type(2) { 
    animation: rotate-text-up 1.5s 2s forwards; 
}

.rotatingText-adjective:nth-of-type(3) { 
    animation: fade-text-in 1.5s 3.25s forwards;
}
  
@keyframes rotate-text-up { 
    0% {
        transform: translate3d(0, 80px, 0);
        opacity: 0;
    }
    
    20%, 80% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    
    100% {
        transform: translate3d(0, -40px, 0);
        opacity: 0;
    }
}
  
@keyframes fade-text-in { 
    0% {
        opacity: 0;
        transform: translate3d(0, 80px, 0);
    }
    
    50%, 100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
